<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>

  <body>
    <nav class="container">
    <%- include ('../partials/nav.ejs') %>
    </nav>

    <div class="login-div">
      <h2>Log In</h2>
      <form action="/sessions" method="POST">
        <label for="name">Username:</label>
        <input type="text" name="username" required/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      <form>
    </div>

    <div class="link-to-signup">
      <p>New User? <a class="button" href="/users/new">Create Account</a></p>

    </div>


  </body>
</html>
