<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>

  <body>
    <nav class="container">
    <%- include ('../partials/nav.ejs') %>
    </nav>

    <div class="signup-div">
      <form action="/users" method="POST">
        <label for="name">Username:</label>
        <input type="text" name="username" required/>
        <label for="color">Password:</label>
        <input type="password" name="password" />
        <br>
        <input type="submit" value="Submit">
      </form>

      <div class="link-to-signup">
        <p>Already have an Account? <a class="button" href="/sessions/new">Login</a></p>
      </div>

  </body>
</html>
