<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>

  <body>

    <% let today = new Date().toISOString().substr(0, 10);%>

    <div class="new-item">
      <form action="/transactions/<%=record.id%>?_method=PUT" method="POST">
        <label for="date">Date:</label>
        <input type="text" name="date" value="<%=today%>">
        <input type="text" name="transaction" value="<%=record.transaction%>" hidden>
        <% if (record.transaction === "PayBill" || record.transaction === "SendMoney") {%>
          <label for="receiver">Receiver:</label>
          <input type="text" name="receiver" value="">
        <%}%>
        <label for="amount">Amount:</label>
        <input type="number" name="amount" value="">
        <label for="confirmed">Confirmed: </label>
        <input type="checkbox" name="confirmed">

        <input type="submit" name="" value="Submit">
      </form>
    </div>

  </body>
</html>
